
h6{
	/*cover picture citation, didn't want to effect all 'p' tags*/
	font-size:8px;
	
}

h5{
	/*wanted font size to be bigger than 'p' tag but smaller than 'card' title*/
	font-size:19px;
}

img{
	/*wanted big enough image to have an impact*/
	width:450px;
	height:auto;
	object-fit:cover;
	padding:25px;
	
	
}















@media(max-width:800px){
   .endangered-bird-image{
	   width:90%;
	   height:auto;
	   object-fit:contain;
	   margin:auto;
   }
	.flex-container{
		display:flex;
		flex-direction:column;
	}
	.flex-container article{
		width:100%;
	}
}