
h6{
	
	font-size:8px;
	
}

h5{
	
	font-size:19px;
}

img{
	
	width:450px;
	height:auto;
	object-fit:cover;
	padding:25px;
	margin-left:70px;
	
}















@media(max-width:800px){
	.flex-container{
		display:flex;
		flex-direction:column;
	}
	.flex-container article{
		width:100%;
	}
}